* {
	box-sizing: border-box;
}

div>p,
p:last-child {
	text-align: center;
	margin-bottom: 5%;

}

.big {
	font-size: 30px;
	font-weight: 800;
}

.table1 {
	border: 4px solid rgb(255, 0, 183);
	width: 40%;
	height: 200px;
	margin: 0 auto;
}

.table1>p {
	align-items: center;
}

.table1 tr>th {
	font-weight: normal;
}

.table1 th {
	border: 1px solid rgb(255, 0, 183);
	width: 150px;
}

.table1 td {
	vertical-align: top;
	border: 1px solid rgb(255, 0, 183);
	height: 150px;
	text-align: right;
}


.table2 {
	border: 1px solid rgb(15, 208, 98);
	width: 50%;
	padding: 1%;
	border-spacing: 20px;

}

.table2 td {
	border: 1px solid rgb(15, 208, 98);
	padding: 0px;
}

.table3 {
	border: 1px solid rgb(208, 15, 15);
	width: 75%;
	border-spacing: 20px;
}

.table3 td {
	border: 1px solid rgb(208, 15, 15);
}

.table4 {
	border: 3px solid rgba(22, 117, 63, 0.778);
	width: 50%;

}

.table4 tr {
	padding: 1%;
}

.table4 tr:first-child {
	padding: 1%;
	text-align: center;
}

.table4 td {
	padding: 1%;
	border: 2px solid rgba(22, 117, 63, 0.778);

}

.table5 {
	width: 50%;
	border: 3px solid rgb(180, 69, 134);
	border-bottom: none;
	border-top: none;
}

.table5 td {
	border-bottom: 3px solid rgb(180, 69, 134);
}

.text_center {
	text-align: center;
}

.bg_grn {
	background-color: rgb(18, 180, 26);
}

.table6 {
	border: 1px solid #ababab;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 5px;
	margin-bottom: 5%;
}

.table6 th {
	border: 1px solid #ababab;
	padding: 5px;
	color: #000000;
}

.table6 td {
	border: 1px solid #ababab;
	text-align: center;
	padding: 5px;
	color: #000000;
}


.table7 {
	width: 60%;
	border: 2px solid rgb(37, 10, 160);
	border-collapse: collapse;
	padding: 0px;
	text-align: left;
	margin: 0 auto;
}

.table7 th {
	border: 2px solid rgb(37, 10, 160);
}

.table7 th:nth-child(1) {
	background-color: rgb(113, 174, 253);
}

.table7 td {
	border: 2px solid rgb(37, 10, 160);
	padding: 5px;
	color: #313030;
}

.table8 {
	border: 1px solid #1d90b3;
	width: 20%;
	margin: 0 auto;

}

.table8 th {
	border: 1px solid #1d90b3;
}

.table8 td {
	border: 1px solid #1d90b3;
}

.table_ins-1 {
	border: 2px solid rgb(209, 64, 238);
	border-collapse: collapse;
}

.table_ins-1 td {
	border: 2px solid rgb(209, 64, 238);
}

.table_ins-2 {
	border: 2px solid rgb(112, 28, 129);
	border-collapse: collapse;
}

.table_ins-2 td {
	border: 2px solid rgb(112, 29, 128);
}

.table_main {
	width: 100%;
	background-image: url("images5.jpg");
}

/* .table_main th {} */

.table_main tr td {
	border: 1px solid #000;
	text-align: center;
}

.table_main td img {
	width: 3cm;
	height: 4cm;
}


.ifreame {
	height: 200%;
}

.audio {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.video {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	width: 30%;
}

.download {
	display: flex;
	flex-direction: column;
}

.download>a {
	margin-bottom: 1%;
}

.main_biografy {
	height: 110px;
}